@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">G'day and welcome to Aus-E-Mart!</h1>
    <p>You can find all your favourite Aussie products and more.</p>
    <br/>
    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-koala-animal-flaticons-lineal-color-flat-icons-2.png" width="64" alt="Koala" />
    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-platypus-animal-flaticons-lineal-color-flat-icons-2.png" width="64" alt="Platypus" />
    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/null/external-snake-animal-flaticons-lineal-color-flat-icons.png" width="64" alt="Snake" />
</div>
