@page
@model ProductsModel
@{
    ViewData["Title"] = "Aus-E-Mart Products";
}
<h1>@ViewData["Title"]</h1>

<p>Come check out our products! </p>
<br/>
<ul class="list-group">
    <li class="list-group-item"><img src="/images/kangaroo.jpg" width="100"/> Kangaroo Products </li>
    <li class="list-group-item"><img src="/images/koala.jpg" width="100"/> Koala Products </li>
    <li class="list-group-item"><img src="/images/spider.jpg" width="100"/> Spider Products </li>
</ul>

